@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header: #0a0a0a;
    --backgroundFlagName: #403938;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f0f4f8;
    --foreground: #000000;
    --header: #b5caf2;
    --backgroundFlagName: #b8cfffe4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header * {
  background-color: var(--header);
}

.hiddenFlagName {
  color: var(--background);
}

.flagName {
  background-color: var(--backgroundFlagName);
}