@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hoverIcon: #374151;
  --textColor: #171717;
  --h2Color: #111827;
  --borderListColor: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header: #1B1F23;
    --backgroundFlagName: #403938;
    --hoverIconColor: #374151;
    --nextjsIcon: #ffffff;
    --textColor: white;
    --h2Color: #4361a3;
    --borderListColor: #e5e7eb;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f0f4f8;
    --foreground: #000000;
    --header: #ffffff;
    --backgroundFlagName: #b5caf2;
    --hoverIconColor: #b5caf2;
    --nextjsIcon: #0a0a0a;
    --textColor: black;
    --h2Color: #111827;
    --borderListColor: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header * {
  background-color: var(--header);
}

.hiddenFlagName {
  color: var(--background);
}

.flagName {
  background-color: var(--backgroundFlagName);
}

.hover\:bg-hoverIcon:hover {
  background-color: var(--hoverIconColor);
}

.nextIcon {
  fill: var(--nextjsIcon);
}

time {
  color: var(--textColor);
}

h2 { 
  color: var(--h2Color);
}

.educationList {
  border-color: var(--borderListColor);
}